.additional-products {
  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.additional-products__title {
  margin-top: 0;
  margin-bottom: 36px;

  font-family: $accent-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $basic-black;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    text-align: start;

    &.additional-products__title::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 0;
      width: 328px;
      border: 2px solid $basic-green;
      transform: rotate(-0.17deg);
    }
  }
}

.additional-products__wrapper {
  position: relative;
}

.additional-products__inner {
  @media (min-width: $tablet-width) {
    padding: 26px 0;
    border: 1px solid $spacial-grey;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .additional-products__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
