.additionally__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 57px 133px 72px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 134px 82px 111px;
  }
}

.additionally__title {
  margin-bottom: 34px;

  font-family: $accent-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $basic-black;
}
