.button {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;

  font-family: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border: none;
  cursor: pointer;
}

.button__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 523px;
  }

  @media (min-width: $desktop-width) {
    width: 829px;
  }
}
