.catalog {
  background-color: $basic-white;
}

.catalog__inner {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 1220px;
    margin: 0;
  }
}

.catalog__wrapper {
  margin: 0 auto;
  padding: 27px 20px 35px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 708px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 1220px;
    padding: 0;
  }
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-family: $accent-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1220px;
  }
}
