.contacts {
  background-color: #ffffff;
  &--background {
    background-color: $footer-background-color;
  }
}

.contacts__wrapper {
  width: 320px;
  justify-content: space-between;
  display: flex;
  padding: 26px 20px;
  margin: 0;
}

.contacts__title {
  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $spacial-dark;
  text-transform: uppercase;
}

.contacts__address {
  margin-left: 20px;

  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $spacial-dark-grey;
}
