.contacts {
  background-color: #ffffff;

  &--background {
    background-color: $footer-background-color;
  }
}

.contacts__wrapper {
  justify-content: space-between;
  display: flex;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 707px;
    padding: 56px 40px 55px 39px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 112px;
    left: 445px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 585px;
    padding: 56px 80px 56px 80px;
    z-index: 1;

    background-color: $basic-white;
  }
}

.contacts__title {
  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $spacial-dark;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 163px;

    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {

  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $spacial-dark-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 155px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
