.form__fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 49px;

  font-family: $accent-font;

  border: none;

  &--about-cat {
    @media (min-width: $tablet-width) {
      width: 630px;
    }

    @media (min-width: $desktop-width) {
      width: 570px;
    }
  }
}

.form__fieldset-wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form {
  @media (min-width: $desktop-width) {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }
}

.form__fieldset:nth-child(2) {
  margin-bottom: 2px;
}

.form__label {
  display: grid;
  grid-template-columns: 68px 219px;
  width: 280px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $spacial-dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
  }
}

.form__input {
  box-sizing: border-box;
  margin-bottom: 13px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $spacial-dark-grey;
  text-transform: uppercase;
}

.form__contacts {
  margin-bottom: 35px;

  font-family: $accent-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $basic-black;
}

.form__comment {
  width: 280px;
  margin-bottom: 37px;

  font-family: $accent-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    width: 631px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form__button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 58px;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  text-align: center;
  text-transform: uppercase;

  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__text {
  margin-bottom: 32px;

  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $basic-black;
  text-align: center;
}
