.live-example {
  background-color: $footer-background-color;
  background-size: 100%;
}

.live-example__wrapper {
  width: 280px;
  padding: 25px 20px 40px 20px;

  @media (min-width: $tablet-width) {
    display: flex;

    flex-wrap: wrap;
    width: 768px;
    padding: 43px 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1440px;
    padding: 0 108px 0 110px;
  }
}

.live-example__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 40px;

  font-family: $accent-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    margin-bottom: 76px;
  }
}

.live-example__description {
  margin-bottom: 20px;

  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $spacial-dark-grey;

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.live-example__range-toggle {
  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $basic-black;

  border: none;
}

.live-example__photo {
  @media (min-width: $desktop-width) {
    position: absolute;
    left: 50%;
    top: 0;
    right: 0;
    display: flex;
  }
}

.live-example__range-bar {
  @media (min-width: $desktop-width) {
    position: absolute;
    left: 50%;
    top: 225px;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 472px;
  }
}
