.more-products__title {
  margin-top: 0;
  margin-bottom: 8px;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $spacial-dark;
}

.more-products__text {
  margin-bottom: 20px;

  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: $spacial-dark-grey;
}

.more-products__button {
  padding: 12px 45px;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $spacial-dark-grey;
  text-transform: uppercase;
  text-align: center;
}

.more-products {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 74%;
    left: 76%;
    width: 245px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
}
