.page-header {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 18px 20px;
  background-color: $basic-white;
}

.page-header__container {
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 728px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1221px;
  }
}

.page-header__logo {
  display: flex;
  min-height: 65px;
  align-items: center;
}
