.page-header {
  display: flex;
  flex-direction: column;
  background-color: $basic-white;
}

.page-header__container {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-header__logo {
  display: flex;
  min-height: 65px;
  align-items: center;
  width: 191px;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}
