.page-footer__logo {
  display: block;
  margin-bottom: 52px;
}

.page-footer__bottom {
  background-color: $footer-background-color;
}

.page-footer__map-image {
  border: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.page-footer__map {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}
