.page-footer__logo {
  display: block;
  margin-bottom: 52px;
}

.page-footer__bottom {
  background-color: $footer-background-color;
}

.page-footer__map-image {
  display: block;
  border: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.page-footer__map {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.page-footer__bottom-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 768px;
    padding: 62px 31px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    padding: 57px 110px 10px 110px;
  }
}
