.page-footer {
  position: relative;
}

.page-footer__logo {
  display: block;
  margin-bottom: 52px;
}

.page-footer__bottom {
  background-color: $footer-background-color;
}

.page-footer__map-image {
  display: block;
  width: 100%;
  border: none;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.page-footer__bottom-wrapper {
  width: 281px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 708px;
    padding: 57px 0 59px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    padding: 58px 0;
  }
}
