.product-card {
  padding: 11px 20px 14px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 245px;
    padding: 0 38px 40px  39px;
  }
}

.product-card:nth-child(7) {
  @media (min-width: $desktop-width) {
    margin-right: 325px;
  }
}

.product-card__image-link {
  display: block;
}

.product-card__link {
  display: block;
  margin-bottom: 18px;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $extra-dark-grey;
  text-decoration: none;
}

.product-card__button {
  display: block;
  padding: 10px 80px;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $basic-white;

  background-color: $basic-green;

  @media (min-width: $desktop-width) {
    height: 40px;
    padding: 10px;
  }
}
