.product-card {
  padding: 11px 20px 14px 20px;
}

.product-card__image-link {
  display: block;
}

.product-card__link {
  display: block;
  margin-bottom: 18px;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $extra-dark-grey;
  text-decoration: none;
}

.product-card__button {
  display: inline-block;
  padding: 10px 80px;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $basic-white;

  background-color: $basic-green;
}
