.product-description {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}

.product-description__item {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 247px;
  }

  @media (min-width: $desktop-width) {
    width: 167px;
  }
}

.product-description__feature {
  display: block;

  margin-top: 0;
  margin-bottom: 2px;

  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}

.product-description__value {
  margin-bottom: 2px;

  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $spacial-dark-grey;
}
