.products-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 894px;
  }
}

.products-list__item {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 161px 132px 44px 244px;
  }
}

.products-list__title {
  margin-top: 0;
  margin-bottom: 13px;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $spacial-dark-grey;
  text-transform: uppercase;
}

.products-list__quantity {
  margin-bottom: 15px;
  margin-top: 0;

  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $spacial-dark-grey;
}

.products-list__button {
  margin-bottom: 19px;
  padding: 10px 74px;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;

  background-color: $basic-green;

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
