.product-card {
  padding: 11px 20px 14px 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 324px;
    padding: 234px 37px 39px 39px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 245px;
    padding: 242px 38px 40px  39px;
  }
}

.product-card:nth-child(7) {
  @media (min-width: $desktop-width) {
    margin-right: 325px;
  }
}

.product-card__image-link {
  display: block;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 100px;
    left: 100px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 120px;
    left: 85px;
  }
}

.product-card__link {
  display: block;
  margin-bottom: 18px;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $extra-dark-grey;
  text-decoration: none;
}

.product-card__button {
  display: inline-block;
  width: 100%;
  outline: none;
  box-sizing: border-box;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $basic-white;

  background-color: $basic-green;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
