.questionnaire {
  padding: 0 20px;

  background-color: $basic-white;
}

.questionnaire__container {
  margin: 0 auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 630px;
    padding: 27px 41px 45px 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 73px 110px 69px 111px;
  }
}

.questionnaire__title {
  margin-top: 0;
  margin-bottom: 37px;

  font-family: $accent-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
}

.questionnaire__description {
  margin-bottom: 39px;

  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}
