$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;
$basic-grey: #666666;
$basic-silver: #c4c4c4;
$basic-red: #ff8282;
$spacial-dark: #111111;
$spacial-dark-grey: #444444;
$extra-dark-grey: #222222;
$light-grey: #eaeaea;
$extra-light-grey: #e7e7e7;

$accent-font: "Oswald", "Arial", sans-serif;
